<footer id="ft-footer-3" class="ft-footer-section-3">
    <div class="ft-newslatter-section-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <ul class="footer-description">
                        <li><a href="/datenschutz">Datenschutz</a></li>
                        <li><a href="/impressum">Impressum</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
{{- partial "footer_extend.html" . }}