<script src="{{ site.Params.static }}/js/jquery.min.js"></script>
<script src="{{ site.Params.static }}/js/bootstrap.min.js"></script>
<script src="{{ site.Params.static }}/js/popper.min.js"></script>
<script src="{{ site.Params.static }}/js/jquery-ui.min.js"></script>
<script src="{{ site.Params.static }}/js/jquery.ui.touch-punch.min.js"></script>
<script src="{{ site.Params.static }}/js/jquery.magnific-popup.min.js"></script>
<script src="{{ site.Params.static }}/js/appear.js"></script>
<script src="{{ site.Params.static }}/js/slick.js"></script>
<script src="{{ site.Params.static }}/js/jquery.counterup.min.js"></script>
<script src="{{ site.Params.static }}/js/waypoints.min.js"></script>
<script src="{{ site.Params.static }}/js/imagesloaded.pkgd.min.js"></script>
<script src="{{ site.Params.static }}/js/jquery.filterizr.js"></script>
<script src="{{ site.Params.static }}/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="{{ site.Params.static }}/js/wow.min.js"></script>
<script src="{{ site.Params.static }}/js/jquery.cssslider.min.js"></script>
<script src="{{ site.Params.static }}/js/rbtools.min.js"></script>
<script src="{{ site.Params.static }}/js/script.js"></script>