<header id="ft-header" class="ft-header-section header-style-three">
    <div class="container">
        <div class="ft-header-content position-relative">
            <div class="ft-header-main-menu d-flex align-items-center justify-content-between">
                <div class="ft-brand-logo">
                    <a href="/">
                        <img id="website_logo" src="{{ site.Params.static }}/logos/logo_web.svg" alt=""
                            class="img-responsive responsive">
                    </a>
                </div>
                <div class="ft-header-main-menu-cta  d-flex align-items-center">
                    <nav class="ft-main-navigation clearfix ul-li">
                        <ul id="ft-main-nav" class="nav navbar-nav clearfix">
                            <li><a href="seite2">Seite 2</a></li>
                            <li><a href="dummyseite">Dummyseite</a></li> 
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="mobile_menu position-relative">
                <div class="mobile_menu_button open_mobile_menu">
                    <i class="fal fa-bars"></i>
                </div>
                <div class="mobile_menu_wrap">
                    <div class="mobile_menu_overlay open_mobile_menu"></div>
                    <div class="mobile_menu_content">
                        <div class="mobile_menu_close open_mobile_menu">
                            <i class="fal fa-times"></i>
                        </div>
                        <div class="m-brand-logo">
                            <a href="!#"><img src="{{ site.Params.static }}/logos/logo_web.svg" alt=""></a>
                        </div>
                        <nav class="mobile-main-navigation  clearfix ul-li">
                            <ul id="m-main-nav" class="navbar-nav text-capitalize clearfix">
                                <li><a href="seite2">Seite 2</a></li>
                                <li><a href="dummyseite">Dummyseite</a></li> 
                            </ul>
                            <ul class="navbar-nav mt-5 clearfix">
                                <li><a href="datenschutz">Datenschutz</a></li>
                                <li><a href="impressum">Impressum</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- /Mobile-Menu -->
            </div>
        </div>
    </div>
</header>